[user]
	name = Jelte Lagendijk
	email = jwlagendijk@gmail.com
[alias]
	s = status
	l = log -10 --abbrev-commit --pretty=oneline --decorate=full --graph
	ll = log --pretty=oneline --decorate=full --graph
	lol = log -10 --pretty=oneline
	w = whatchanged
	d = diff
	dt = difftool --dir-diff
	dh = diff HEAD^
	dhh = diff HEAD^^
	de = diff --ignore-space-at-eol
	dc = diff --cached
	dno = diff --name-only
	dnoh = diff --name-only HEAD^
	b = branch -a
	bd = branch -d
	bdel = branch -D
	co = checkout
	cob = checkout -b
	com = checkout master
	cod = checkout dev
	cof = checkout --
	a = add --all :/
	au = add -u
	cm = commit -m
	cam = commit -am
	amend = commit --amend -C HEAD
	aamend = commit -a --amend -C HEAD
	m = merge
	mm = merge master
	md = merge dev
	mt = mergetool
	chp = cherry-pick
	rs = reset --soft
	rh = !"git clean -fd && git reset --hard "
	rf = reset HEAD
	rb = rebase
	rbm = rebase master
	rbc = rebase --continue
	rba = rebase --abort
	tl = tag -l
	st = stash
	stl = stash list
	stc = stash clear
	sta = stash apply stash@{0}
	sm = submodule
	sma = submodule add
	smi = submodule init
	smu = submodule update
	cl = clone --recursive
	p = push
	pf = push -f
	po = push origin
	ph = push homeserver
	pfo = push -f origin
	pom = push origin master
	pfom = push -f origin master
	f = fetch
	pl = pull
	plo = pull origin
	plom = pull origin master
	rmu = remote update
	rmr = rm -r
[core]
	excludesfile = ~/.gitignore
	whitespace = indent-with-non-tab,trailing-space,cr-at-eol,blank-at-eof
[diff]
	tool = meld
[difftool]
	prompt=false
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[github]
	user = j3lte
[merge]
	tool = meld
[http]
	sslVerify = false

# Forces the use of SSH instead of HTTPS for any URLs that point to github.
# This means that if a repo uses "https://github/..." for "origin", we will
# automatically use SSH. No more password prompts!
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
